langchain
langchain-core
langchain-community
chromadb
langchain-groq
langchain-huggingface
langgraph
pymongo
pymysql
langchain-google-genai
langchain-text-splitters
pypdf
unstructured
openpyxl
langchain-text-splitters
pypdf
unstructured
openpyxl
sentence-transformers
pypdf
pymupdf
pandas
msoffcrypto-tool
openpyxl
langsmith