langchain
langchain-core
langchain-community
chromadb
langchain-groq
langchain-huggingface
langgraph
pymongo
pymysql
langchain-google-genai
langchain-text-splitters
pypdf
unstructured
openpyxl
langchain-text-splitters
pypdf
unstructured
openpyxl
sentence-transformers
pypdf
pymupdf
pandas
msoffcrypto-tool
openpyxl
langsmith
litellm>=1.82.9
langchain-litellm>=0.6.4
